

body {
    align-items: center;
    background-color: rgb(237, 233, 254);
    display: flex;

    height: 100vh;
    justify-content: center;
}




.container {

border-style: solid;

border-width: 50px;


border-color: darkslateblue;
width: 500px;


border-radius: 20px;

height:  400px;


}




.container .main{


margin-left: 100px;


}


.main .dice1 {




    display: flex;
    

}


       .main .dice1 button{

display: inline-block;

background-color: white;

color: black;

width: 50px;

margin: 5px;

text-align: center;

line-height: 50px;

font-size: 20px;

}



.main .dice2{

display: flex;

}



.main .dice2 button{

    display: inline-block;
    
    background-color: white;
    
    color: black;
    
    width: 50px;
    
    margin: 5px;
    
    text-align: center;
    
    line-height: 50px;
    
    font-size: 20px;
    
    }


.submit button{

align-items: center;

width: 80px;

margin-top: 15px;

background-color: dodgerblue;

color: black;

border-radius: 2px;

height: 40px;

margin-left: 120px;


}



.submit button:hover{

background-color: deepskyblue;

}

.container .main h1{

margin-left: 50px;

}